body {
  background-image: url('https://cdn.pixabay.com/photo/2017/06/21/07/33/background-2426328_1280.jpg');
  font-family: "Roboto", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
}

.title {
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #757373;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}



/* start section */

section {
  display: flex;
}

.image {
  width: 80%;
}

p {
  color: aliceblue;
  font: size 30px;
}

.card2,
.card1,
.card6,
.card5 {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.card2 img {
  width: 100%;
}

.btn-enter {
  background-color: #10c929;
}


#design, #tech {
  display:grid;
}

